.so-widget-sow-slider-default-21358caed33c .sow-slider-base .sow-slider-pagination li a {
  background: #ff2121;
}
.so-widget-sow-slider-default-21358caed33c .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-21358caed33c .sow-slider-base .sow-slide-nav a {
  color: #ff2121;
}